:root {
  --primaryColor: #FFAAAA;
  --secondColor: #bbb;
  --mainWhite: #FFF;
  --mainBlack: #222;
  --mainRed: #C45151;
  --mainGreen: #4CAF50;
  --mainPink: #DA7297;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--secondColor);
  color: var(--mainBlack);
}

h1 {
  margin: 1rem 0;
}